<p>
	This is the former Vagrant download site. It has now been deprecated. 
	Below you will find a list of the previously available versions to download, 
	sorted in descending order so that the latest release is always at the top. 
	Click on the version you'd like to download and you'll see a list of available packages.
</p>

<p>
	<strong>New versions of Vagrant and eventually former releases will be found at 
	the new downloads page</strong> <a href="http://www.vagrantup.com/downloads">here</a>
</p>

<% if @tags.empty? %>
<div class="alert alert-block alert-error">
	<p>
		No downloads are available for any release! This is likely a bug and
		should be reported.
	</p>
</div>
<% else %>
<table class="Module downloads table table-striped">
	<% @tags.each do |tag| %>
	<tr>
		<td><a class="tag" href="<%= url("/tags/#{tag}") %>"><%= tag %></a></td>
	</tr>
	<% end %>
</table>
<% end %>
