<div class="alert alert-block alert-warning">
  <p>
    This site is deprecated.  See
    <a href="http://https://www.vagrantup.com/downloads.html">https://www.vagrantup.com/downloads.html</a>
    for current versions.
  </p>
</div>

<p>
	This is the Vagrant download site. Below you will find a list of the
	available versions to download, sorted in descending order so that the
	latest release is always at the top. Click on the version you'd like to
	download and you'll see a list of available packages.
</p>

<% if @tags.empty? %>
<div class="alert alert-block alert-error">
	<p>
		No downloads are available for any release! This is likely a bug and
		should be reported.
	</p>
</div>
<% else %>
<table class="Module downloads table table-striped">
	<% @tags.each do |tag| %>
	<tr>
		<td><a class="tag" href="<%= url("/tags/#{tag}") %>"><%= tag %></a></td>
	</tr>
	<% end %>
</table>
<% end %>
