<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>Vagrant - Downloads</title>

  <meta name="description" content="Create and manage virtualized development environments." />

  <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/static/css/vagrant.base.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/static/css/vagrant.downloads.css" type="text/css" media="screen" />
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15091924-1']);
      _gaq.push(['_setDomainName', 'vagrantup.com']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
   </script>
</head>
<body>
  <div class="container">
    <div class="row Header">
      <div class="span8 Module logo">
        <h1><a href="/">Vagrant Downloads</a></h1>
      </div>
      <div class="span4">
        <div class="Module navigation">
          <ul>
            <li><a href="http://vagrantup.com">back to main site</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12">
				<%= yield %>
      </div>
    </div>

    <div class="row Footer">
      <div class="span12">
        Copyright <a href="http://vagrantup.com/license.html">&copy;</a> 2009-2012. <a href="http://mitchellhashimoto.com">Mitchell Hashimoto</a> and <a href="http://nickelcode.com">John Bender</a>. Design by <a href="http://www.simonecarletti.com/">Simone Carletti</a>.
      </div>
    </div>
  </div>
</body>
</html>
