.Module.downloads {
    margin-top: 20px;
}

.Module.downloads a.tag {
    background: url(/static/img/directoryicon.png) left top no-repeat transparent;
}

.Module.downloads a.file {
    background: url(/static/img/downloadicon.png) left top no-repeat transparent;
}

.Module.downloads a.file, a.tag {
    display: block;
    height: 25px;
    padding: 3px 0 0 35px;
}
