.Module.downloads {
    margin-top: 20px;
}

.Module.downloads a.tag {
    background: url(/static/img/directoryicon.png) left top no-repeat transparent;
}

.Module.downloads a.file {
    background: url(/static/img/downloadicon.png) left top no-repeat transparent;
}

.Module.downloads a.file, a.tag {
    display: block;
    height: 25px;
    padding: 3px 0 0 35px;
}

.Module.downloads a.file.type-dmg {
    background: url(/static/img/icon-apple.png) left top no-repeat transparent;
}

.Module.downloads a.file.type-msi {
    background: url(/static/img/icon-windows.png) left top no-repeat transparent;
}

.Module.downloads a.file.type-deb {
    background: url(/static/img/icon-debian.png) left top no-repeat transparent;
}

.Module.downloads a.file.type-rpm {
    background: url(/static/img/icon-rpm.png) left top no-repeat transparent;
}

.Module.downloads a.file.type-xz {
    background: url(/static/img/icon-arch.png) left top no-repeat transparent;
}
